@charset "utf-8";
/*공통 css*/
body{
  font-family: nanum;
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1{
  margin:0;
  font-family: 'Thasadith', sans-serif;
  font-size:40px;
}


h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size:20px;
}

/* scrollspy */

#welcome{
  color:#FFC61A;
}
#guest_book{
  margin-right:8%;
}
.scrollspy{
  width:100%;
  padding-top:1%;
  height:5%;
  position: absolute;
  text-align: left;
  opacity: 1;
  z-index:4;
  display: inline-block;
}
.active_scroll{
  width:90%;
  margin-left: 5%;
  background-color: #212529;
  padding-top:1%;
  height:5%;
  position: fixed;
  text-align: left;
  opacity: 1;
  z-index:4;
  display: inline-block;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0.9;
}
.active_scroll a{
  font-size:17px;
  margin-left: 3px;
  cursor:pointer;
  text-decoration: none;
  color:snow;
  margin-right: 30px;
  font-family: 'Thasadith', sans-serif;
}
.scrollspy a{
  font-size:20px;
  margin-left: 3px;
  cursor:pointer;
  text-decoration: none;
  color:snow;
  margin-right: 30px;
  font-family: 'Thasadith', sans-serif;
}
/* 네비게이션 */
.nav_menu{
  font-weight: 600;
  text-decoration-line: none;
  cursor: pointer;
  color:snow;
}
.nav_menu span{
  color:snow;
  width:100;
  display:inline-block;
  text-align: center;
  padding:20px;
  border: 1px solid rgba(255, 255, 255, 0.767);
  cursor: pointer;
}
/* navigation 버튼 home */
#home{
  color:#FFC61A;
  font-family: 'Kaushan Script', cursive;
  font-size:25px;
}

/* login,join*/
.check_div{
  color:snow;
}
.alert_div{
  width: 100%;
  height: 581%;
  position: absolute;
  background: rgb(0,0,0,0.5);
  z-index: 9;
  cursor: pointer;
  display: none;
}

.home_btn{
  margin-left:22%;
  margin-right:20%;

}
.join_div{
  width:20%;
  height:45%;
  background-color: rgb(0,0,0,0.5);
  position: absolute;
  z-index:10;
  border: 2px solid grey;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow:2px 2px 5px grey;
  text-align: center;
  cursor: auto;
}
.join_div h1{
  margin-top:5%;
  margin-bottom:1em;
  color:snow;
  font-family: 'Kaushan Script', cursive;
}
.join_id{
  margin:5px 0;
  background: rgb(255,255,255,0.7);
  border-radius: 6px;
}
.join_text{
  margin:10px 0;
  background: rgb(255,255,255,0.7);
  border-radius: 6px;
}
.join_div input{
  width:90%;
  height:10%;
  box-sizing: border-box;
  outline:none;
  border:none;
  font-size:16px;
  text-align: center;
}
.join_btn{
  display: inline;
}
.join_btn button{
  position: absolute;
  width:90%;
  margin-top:10%;
  font-size:15px;
  padding:17px;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  transform: translate(-50%,-50%);
  color:snow;
  box-shadow:1px 1px 5px grey;
  border:none;
  text-transform: uppercase;
  box-sizing: border-box;
  background-size:400%;
  border-radius: 30px;
}
.join_btn button:hover{
  animation: join_btn 8s linear infinite;
}
@keyframes join_btn
{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
.join_btn button:before{
  content:'';
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index:-1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size:400%;
  border-radius: 40px;
  filter:blur(10px);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
.join_btn button:hover:before{
  filter:blur(10px);
  opacity: 1;
  animation: join_btn 8s linear infinite;
}
.login_div{
  width:20%;
  height:45%;
  background-color: rgb(0,0,0,0.5);
  position: absolute;
  z-index:10;
  border: 2px solid grey;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow:2px 2px 5px grey;
  text-align: center;
  cursor: auto;
}
.login_div input{
  width:90%;
  height:10%;
  box-sizing: border-box;
  outline:none;
  border:none;
  font-size:16px;
  text-align: center;
}
.login_text{
  margin:15px 0;
  background: rgb(255,255,255,0.7);
  border-radius: 6px;
}
.login_div h1{
  margin-top:10%;
  margin-bottom:1em;
  color:snow;
  font-family: 'Kaushan Script', cursive;
}
.close_btn{
  position: absolute;
  margin-left: 37%;
  margin-top:2%;
  cursor: pointer;
  color:snow;
  font-size:30px;
}
.login_btn{
  display: inline;
}
.login_btn button{
  position: absolute;
  width:90%;
  margin-top:10%;
  font-size:15px;
  padding:17px;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  transform: translate(-50%,-50%);
  color:snow;
  box-shadow:1px 1px 5px grey;
  border:none;
  text-transform: uppercase;
  box-sizing: border-box;
  background-size:400%;
  border-radius: 30px;
}
.login_btn button:hover{
  animation: join_btn 8s linear infinite;
}
.login_btn button:before{
  content:'';
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index:-1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size:400%;
  border-radius: 40px;
  filter:blur(10px);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
.login_btn button:hover:before{
  filter:blur(10px);
  opacity: 1;
  animation: join_btn 8s linear infinite;
}

/* 인덱스페이지 전체영역 home*/
.home{
  display: inline;
}

/* 웰컴 영역*/
.main{
  height: 90%;
  /* background-color: antiquewhite; */
  background-image: url('../img/background.png');
  background-size:100%;
}
.main h1{
  margin: 0;
}
.main_text{
  padding-top:10%;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color:snow;
}
.main_text h1{
  font-family: 'Montserrat', sans-serif;
}
.main_btn{
  text-align: center;

}
#view_btn{
  position: relative;
  display: inline-block;
  background-color:#FFC61A;
  padding:20px;
  margin-right: 20px;
  border-radius:10px;
  font-weight: 600;
  cursor: pointer;
  font-size:15px;
  color:snow;
  box-sizing: border-box;
  letter-spacing: 1px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#view_btn:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#212529;
  transform:scaleX(0);
  transition:0;
}
#view_btn:hover:before{
  transform:scaleX(1);
  transition:1s;
}
#view_btn:after{
  content:attr(data-text);
  position: absolute;
  bottom:100%;
  left:20;
  padding:20px;
  cursor: pointer;
  transition:0s;
}
#view_btn:hover:after{
  bottom:0;
  transition:0.5s;
  transition-delay:0.5s;
  transition-timing-function: ease-in;
 
}
/* 프로필 영역*/
.profile{
  width:100%;
  height: 200%;
}
.profile_head{
  width:100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
}
#history{
  margin-top:15%;
}
/*자격증 영역*/
.lisence{
  border-top:2px solid grey;
  border-bottom:2px solid grey;
  margin-bottom:5%;
  text-align: center;
}
/* 프로젝트 영역*/
.project{
  padding:10px;
  border:1px solid grey;
  display:inline-block;
}

.sumnail{
  background:rgba(254,209,54,.9);
   width:320px;
  height: 200px;
  position: absolute;
  font-size: 110px;
  font-weight: 100;
  color:snow;
  display: none;
  cursor: pointer;
}
.project_div{
  overflow-y:hidden;
  width:100%;
  overflow-y:auto;
  background-color:white;
  position: absolute;
  z-index: 100;
  display: none;
  transform:translateX(100%);
}
.content_paging{
  width: 100%;
  height: 3%;
  text-align: center;
  margin-top:2%;
}
.content_paging button{
  margin-right: 10px;
  padding:5px;
  font-size:20px;
  box-shadow: 1px 1px 5px grey;
  color:orange;
  border: 2px solid #FFC61A;
  background-color: snow;
    margin-top:-7%;
}
.content{
  background-size:100%;
  width:100%;
  height: 110%;
  text-align: center;
  background-color: whitesmoke;
}
.content_div{
  width: 80%;
  height: 87%;
  margin-left:8%;
}
.write_btn button{
  margin-top:30px;
  float:right;
  padding:15px;
  padding-left:20px;
  padding-right:20px;
  font-size: 16px;
  background-color: #FFC61A;
  box-shadow:1px 1px 5px white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color:snow;
  margin-right: 9%;
  border:1px solid orange;
}
.content_section{
  text-align: center;
  margin-left:5%;
  margin-top:2%;
  display: inline-block;
  background-color: white;
}
.content_section:hover{
  transform: rotate(5deg);
  transition: 0.5s;
}
.content_section img{
  width:320px;
  height: 200px;
  cursor: pointer;
}
.content_section2{
  text-align: center;
  margin-left:5%;
  margin-top:2%;
  display: inline-block;
  background-color: white;
}
.content_section2 img{
  width:320px;
  height: 200px;
}
.back_btn{
  margin-left: 6%;
  padding:15px;
  padding-left:20px;
  padding-right:20px;
  margin-top: 30px;
  font-size: 16px;
  background-color: #FFC61A;
  margin-right: 13%;
  box-shadow:1px 1px 5px white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color:snow;
  border: 1px solid orange;
  float:right;
}


/* 푸터 */
footer{
  background-color:#212529;
  height:5%;
  color:snow;
  padding-top:1%;
  font-size:17px;
  text-align: right;
  font-family: 'nanum';
}
.issue{
  margin-left: 2%;
  margin-right: 15%;
}
/*note book*/
@media (max-width: 1500px)
{
  .login_div{
    width:25%;
  }
  .join_div{
    width:25%;
  }
  .scrollspy{
    width:70%;
    margin-left:15%;
  }
  .active_scroll{
    width:70%;
    margin-left: 15%;
  }
  .home_btn{
    margin-left: 5%;
  }
  .profile_img img{
    width:130px;
    height:130px;
  }
  .profile_img{
   margin-left:45%;
  }
  #span0{
    margin-left:17%;
  }
  #span1{
    margin-left:59%;
  }
  #span2{
    margin-left:17%;
  }
  #span3{
    margin-left:59%;
  }
  #span4{
    margin-left:25%;
  }
  #img4 div{
    width:130px;
    height:130px;
  }
  #history{
    font-size:20px;
  }
  .sumnail{
    width:270;
    height:140;
  }
  .content_section2 img{
    width:270;
    height:140;
  }
  .content_section img{
    width:270;
    height:140;
  }
  .content_paging{
    margin-top:-12%;
  }
  .slide_img img{
    max-width: 1100;
    max-height: 600;
  }
  .close_btn_span{
    margin-left:42.5%;
  }
}
/*pad*/
@media (max-width: 1370px)
{
  .login_div{
    width:25%;
  }
  .join_div{
    width:25%;
  }
  .scrollspy{
    width:80%;
    margin-left:10%;
  }
  #home{
    font-size:18;
  }
  .scrollspy a{
    font-size:16;
  }
  .active_scroll{
    width:80%;
    margin-left: 10%;
  }
  .home_btn{
    margin-left: 5%;
  }
  .profile_img img{
    width:130px;
    height:130px;
  }
  .profile_img{
   margin-left:45%;
  }
  #span0{
    margin-left:17%;
    font-size:13px;
  }
  #span1{
    margin-left:59%;
    font-size:13px;
  }
  #span2{
    margin-left:14%;
    font-size:13px;
  }
  #span3{
    margin-left:59%;
    font-size:13px;
  }
  #span4{
    margin-left:24%;
    font-size:13px;
  }
  #img4 div{
    width:110;
    height:110;
  }

  #history{
    font-size:20px;
  }
  .sumnail{
    width:220;
    height:120;
  }
  .content_section2 img{
    width:220;
    height:120;
  }
  .content_section img{
    width:220;
    height:120;
  }
  .content_paging{
    margin-top:-12%;
  }
  .slide_img img{
    max-width: 1100;
    max-height: 600;
  }
  .close_btn_span{
    margin-left:41%;
  }
}
/* Movile */
@media (max-width: 800px)
{
  body{
    overflow-x: hidden;
  }
  .login_div{
    width:25%;
  }
  .join_div{
    width:25%;
  }
  .home{
    width:800px;
  }
  .main{
    height: 25%;
  }
  body h1{
    font-size: 20px;
  }
  body h2{
    font-size: 16px;
  }
  .home h1{
    margin-top:25px;
  }
  #view_btn{
    display: none;
  }
  .scrollspy{
    text-align: left;
  }
  .scrollspy a{
    font-size: 15px;
    margin-right: 10px;
  }
  .navi{
    margin-left: -8%;
  }
  .active_scroll{
    margin-top:0%;
    margin-left: 2%;
    width:95%;
    text-align: left;
  }
  .active_scroll a{
    font-size: 15px;
    margin-right: 10px;
  }
  #home{
    font-size:17px;

  }
  .home_btn{
    margin-left: 7%;
  }
  .content_div{
    margin-left:0;
  }

  .content_div{
    width: 100%;
  }
  .content img{
    width:150px;
    height:100px;
  }
  .sumnail{
    width:150px;
    height:100px;
    font-size:60;
  }
  .content_section p{
    font-size:13px;
  }
  .write_btn button{
    font-size:10px;
  }
  .content_paging button{
    font-size:5px;
    margin-top:-20%;
  }
  #date{
    font-size:10px;
  }
  #edu_text{
    font-size:9px;
  }
  #span0{
    margin-left:0;
    width:40%;
  }
  .profile_edu{
    font-size:8px;
  }
  .profile_img img{
    width:70;
    height: 70;
  }
  
  .profile_skills_btn{
    margin-right: 2;
    padding:8px;
    font-size:13px;
    margin-top:0;
  }
  .profile_img{
    margin-left: 45%;

  }
  .profile{
    height:150%;
  }
  .line{
    height:150%;
  }
.profile_skills{
  height:90%;
}
  .skills_section h2{
    color:snow;
  }
  .skills_section p{
    color:snow;
  }
  #span0{
    font-size:10;
  }
  #span1{
    margin-left:64%;
    margin-top:48%;
    font-size:10;
  }
  #span2{
    margin-left:18%;
    margin-top:90%;
    font-size:10;
  }
  #span3{
    margin-left:64%;
    margin-top:127%;
    font-size:10;
  }
  #span4{
    width:40%;
    margin-left:0;
    margin-top:162%;
    text-align: right;
    font-size:10;
  }
  #img1{
    margin-top:45%;
  }
  #img2{
    margin-top:88%;
  }
  #img3{
    margin-top:124%;
  }
  #img4{
    margin-top:160%;
  }
  #img4 div{
    width:70px;
    height: 70px;
    
  }
  #img4 span{
    font-size: 7px;
  }
  .history{
    margin-top:5px;
  }
  .visit_content{
    margin-left:5%;
    width:90%;
    height: 90%;
  }
  .visit_text span{
    padding:7px;
  }
  #visit_btn{
    padding:5px;
  }
  footer{
    font-size:13px;
  }
  .console-container{
    width:100%;
    font-size:1.5em;
    height:100
  }
  .left{
    margin-left:3%;
    font-size:35;
  }
  .slide_img{
    width:750;
    height:540;
  }
  .right{
    font-size:35;
    margin-left:-13%;
  }
  .pagenum{
    margin-top:-16%;
    margin-bottom:7%;
  }
  .board_span{
    width:90%;
  }
  .board_text{
    font-size:12;
  }
  .project_btn_div button{
    padding:10;
    padding-left:10;
    padding-right:10;
  }

  .close_btn_span{
    font-size:14;
    margin-left:41.5%;
  }
  .login_div{
    width:50%;
    margin-left:25%;
  }
  .join_div{
    width:50%;
    margin-left:25%;
  }
  .write_div{
    margin-left:0;
  }
  .write_form input{
    width:50%;
  }
  .smart_editor2{
    width:50%;

  }
  .back_btn{
    padding:10;
    padding-left:10;
    padding-right:10;
    font-size:13;
    margin-top:0;
    margin-right: 0;
  }
  .write_bar{
    margin-right:0;
  }
  .lisence{
    position: relative;
    width:100%;
  }
  .profile_close_btn{
    margin-left:24.5%;
    color:snow;
    font-size:25px;
  }
  .skills_section p{
    font-size:10px;
  }
  .skills_section{
    display: inline;
  }
  .project{
    background: white;
  }

}
/*smartphone*/
@media (max-width: 470px)
{
  body{
    overflow-x:hidden;
  }
  .project_div{
    overflow-x:hidden;
  }
  .login_div{
    width:80%;
    margin-left: 10%;
  }
  .join_div{
    width:80%;
    margin-left: 10%;
  }
  .scrollspy{
    width:100%;
    margin-left: 0;
  }
  #home{
    font-size:12;
  }
  .navi{
    margin-left: -16%;
  }
  .scrollspy a{
    font-size:11;
  }
  .active_scroll a{
    font-size:11;
  }
  .active_scroll{
    width:100%;
    margin-left: 0;
  }
  .home_btn{
    margin-left: 5%;
  }
  .profile_img img{
    width:40;
    height:40;
  }
  .profile_img{
   margin-left:43%;
  }
  #span0{
    margin-left:0%;
    font-size:9px;
  }
  #span1{
    margin-left:59%;
    font-size:9px;
  }
  #span2{
    margin-left:0%;
    font-size:9px;
  }
  #span3{
    margin-left:59%;
    font-size:9px;
  }
  #span4{
    margin-left:0%;
    font-size:9px;
  }
  .profile{
    height: 100%;
  }
  .line{
    height:100%;
  }
  #img4 div{
    width:40;
    height:40;
  }

  #history{
    font-size:20px;
  }
  .sumnail{
    width:160;
    height:90;
  }
  .project_div h1{
    font-size:17;
  }
  .slide_img{
    height:330;
  }
  .slide_img img{
    width:320;
    height:260;
    margin-left: 6%;
  }
  .right{
    margin-left:-8%;
  }
  .content_section2 img{
    width:160;
    height:90;
  }
  .content_section img{
    width:160;
    height:90;
  }
  .content_paging{
    margin-top:-12%;
  }
  .slide_img img{
    max-width: 1100;
    max-height: 600;
  }
  .close_btn_span{
    margin-left:35%;
  }
  .profile_skills{
    display: none;
  }
}
