<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <base href="/">
<link href="./Assest/css/index.css" rel="stylesheet" type="text/css">
<link rel="icon" href="data:,">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script  src="./js/index.js"></script>


</head>
<body>


  <div class="container">
      <h1 class="maintext"> 현재 사이트는 Node.js , Express, JavaScript ,JQuery,Css 로 구성되었습니다.</h1>
      <h1 class="maintext"> 언어를 고르시면 해당 언어의 프로젝트 PPT 페이지로 이동됩니다.</h1>
      <h1 class="maintext">Develop by Gyutae Lee</h1>
      <div class="other_nav_bar">

        <span class="other_nav_span"><a class="toggle_btn">Other Menus</a></span>
        <div class="other_nav">
        <a class="profile" href="/profile">My profile</a> <br/>
      <a href="mailto:kutaelee0@gmail.com">Send E-mail</a>

    </div>
    </div>


  <section class="section1">
  <span class="subject"><a id="menu" class="JavaScript">JavaScript</a></span>
  <span class="subject"><a id="menu" class="Spring">Spring</a></span>
  <span class="subject"><a id="menu"class="Java">Java</a></span>
  <span class="subject"><a id="menu" class="React">React</a></span>
  <span class="subject"><a id="menu" class="XE&Node">XE & Node</a></span>
  </section>
  </div>



</body>


</html>
