<link href="../Assest/css/board.css" rel="stylesheet" type="text/css">
<link rel="icon" href="data:,">
<script src="../js/board.js"></script>
<div class="board_nav">
 
</div>

<div class="board_info">
    <div class="board_show">
        <img src="./Assest/img/commingsoon.JPG">
      </div>
      <div class="middle"> <div class="mouse"></div></div>

     <h1 class="board_title">프로젝트명:</h1>
  <h1 class="board_Lang">주요환경:</h1>
  <h1 class="board_date">기간:</h1>
 <div class="slide_section">
  <button class="left"> < </button>

   <section class="slide_img">

   </section>

<div class="pagenum"></div>

</div>
<div>
<button class="right"> > </button>
</div><br/>
<br/>
  <span class="board_span">
    <div class="board_text"><h2>설명 </h2><a></a></div>
  </span>

</div>


<div class="project_btn_div">
    <button type="button" class="update_btn" id="update">수정</button>
    <button type="button"class="delete_btn" id="delete">삭제</button>
  </div>
 <span class="project_close_btn"><button type="button"class="close_btn_span" data-text="Click Me!">Back Home?</button></span> 
