<script  src="../js/document.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="return_div">
    <a class="return_a" href="/">메인으로 돌아가기</a>

  </div>
  <div class="console-div">
      <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
</div>
  <section class="list">
    <a class="forder_back">뒤로가기</a>
    <h1>- List -</h1>
    <div class="list_page"></div>
    <div class="pagenum_div"></div>
  </section>

  <div class="btn_div">
    <button class="open_github">Open GitHub</button>
    <a class="list_toggle" href="#">List 열기</a>
  </div>
  <div class="wrapper" ondragstart="return false" onselectstart="return false">
  <a id="left" > < </a>
    <a id="right" > > </a>
  </div>



  <section class="slide_section">

    <div class="slide_div"> <h1 class="default_h1">리스트에서 프로젝트를 고르시면 해당 프로젝트의 PPT목록이 나타납니다!<br/><br/> 키보드 방향키 왼쪽 오른쪽으로 ppt를 넘겨볼 수 있습니다.  <br/><br/>엔터키를 누르시면 확대하여 보실 수 있고 다시 누르시면 원래대로 돌아옵니다.<br/><br/> 해당 프로젝트의 소스코드를 github에 공유해놓았습니다. <br/><br/>우측상단 버튼을 클릭하시면 깃허브로 이동합니다. <br/> <br/> 감사합니다. 피드백 남겨주시면 새겨듣겠습니다. </h1></div>


  </section>
