<html>
<head>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link href="../Assest/css/profile.css" rel="stylesheet" type="text/css">
<link rel="icon" href="data:,">
  <script  src="../js/profile.js"></script>
  <div class="edu">
    <h1> 학력 <눌러서 닫기></h1><br/>
    <h2>중앙정보기술 인재개발원 6개월 교육 수료</h2><br/>
    <h2>여주대학교 인터넷 정보처리과 졸업</h2><br/>
    <h2>경기 검정고시 고등학교 졸업</h2><br/>
    <h2>덕소 중학교 졸업</h2><br/>
    <h1>관련 자격증 </h1><br/>
    <h2>네트워크 관리사2급</h2><br/>
    <h2>정보처리산업기사</h2>
  </div>

  <body>
    <div class="wrap">
	<div class="right-menu">
		<a  class="active" href="#profile"><i class="fa fa-user"></i><span>Profile</span></a>
		<a href="#project"><i class="fa fa-photo"></i><span>Projects</span></a>
		<a  href="#skills"><i class="fa fa-folder"></i><span>Skills</span></a>
	</div>
<div class="content">
<div class="profile open animated zoomIn">
	<div class="avatar">
		<img src="../Assest/img/profile.jpg">
		<div class="bubble">
		<h3>이규태</h3>
		<a href="#">kutaelee0@gmail.com</a>
		</div>

	</div>
</div>
<div class="project animated zoomIn">
	 	<div class="avatar">

		<div class="bubble">
      <div class="hihi">
		<h3>진행 프로젝트</h3>
		<a>[JavaScript] 영화 스트리밍 사이트</a><br/>
    <a>[Spring] 게임 거래 사이트</a><br/>
    <a>[React] 영화 정보 페이지</a><br/>
    <a>[Java] 크롤링 프로그램</a><br/>
    <a>[XE] 이슈모음 사이트</a><br/>
    <a>[Node.js] 포트폴리오 사이트</a>
  </div>
		</div>

	</div>
</div>

<div class="skills animated zoomIn">
	<div class="avatar">

		<div class="bubble">
		<h3>사용해본 환경</h3>
		<a>Java</a>
    <a>C,C++</a><br/>
    <a>JavaScript</a>
    <a>Spring</a>
    <a>React</a>
    <a>Php</a><br/>
    <a>Mysql</a>
    <a>Oracle</a>
    <a>mybatis</a><br/>
    <a>Node.js</a>
    <a>apache</a><br/>
    <a>Css</a>

		</div>

	</div>

</div>

</div><!--End Content-->

 <div class="footer">
 <a href="/"><i class="fa fa-link"></i><span>돌아가기</span></a>
		<a href="https://github.com/kutaelee?tab=repositories" target="_blank"><i class="fa fa-codepen"></i><span>git hub </span></a>
		<a href="#" class="edu_btn"><i class="fa fa-twitter"></i><span>학력사항</span></a>
		<a href="mailto:kutaelee0@gmail.com"><i class="fa fa-briefcase"></i><span>메일쓰기</span></a>
 </div>
 </div>
 <div class="copyright">
   <h1>현재 페이지는 CodePen에 올라온 오픈소스를 수정작업하여 만들었습니다.</h1>
 </div>
    </body>

  </head>
</html>
