<link href="../Assest/css/profile.css" rel="stylesheet" type="text/css">
<script  src="../js/profile.js"></script>
<link rel="icon" href="data:,">

<div class="profile_content">
  <div class="profile_skills">
    <div class="profile_bar"><h1>Skills <a class="profile_close_btn">→</a></h1>
    </div>
    <div class="skills_section" id="skill_0"> 
    <h1 > OS & Server </h1>
    <h2>OS</h2>
    <p> Windows </p>
    <p> Ubuntu</p>
    <h2>Server</h2>
    <p> apache</p>
     <p> node</p>
    </div>
    <div class="skills_section" id="skill_1">
      <span style=height:100%">
      <h1> Language </h1>
      <h2>Language</h2>
      <p>C , C++ , Java</p>
      <p>React , Php</p>
      <p>JavaScript , Jquery , Spring</p>
      <h2>DB language</h2>
      <p>Sql , mysqli</p>
      </span>
    </div>
    <div class="skills_section" id="skill_2">
        <span style=height:100%">
      <h1> DB & Tool </h1>
      <h2>Database</h2>
      <p> oracle , mysql </p>
      <h2> Tool</h2>
      <p>SVN , XE , FTP</p>
      <p>Git , Npm , Maven </p>
      <p> mybatis , ibatis</p>
        </span>
    </div>

    </div>
<div class="profile_edu">
  <div class="line"></div>
  <div class="skills_div">  <button class="profile_skills_btn" data-text="Skills→"> Skills </button></div>
    <span class="0" id="span0">
        <p id="date">2018.07~2019.01</p>
        <p id="edu_text">개인프로젝트</p>
      <p>[Node.js] 포트폴리오 사이트 3개</p>
      <p>[React] 영화 정보 페이지</p>
      <p>[Java] 크롤링 프로그램(sql방식 , php방식)</p>
      <p>[XE] 이슈모음 사이트</p>
      </span>
    <div class="profile_img" id="img0"><img  src="../Assest/img/mainback.jpg"></div>
    <span class="1" id="span1">
        <p id="date">2018.02~2018.07</p>
        <p id="edu_text">중앙정보기술 인재개발원 </p>
        <p>JAVA기반 SW엔지니어 양성과정 6개월 총 960시간 수료</p>
        <p>[JavaScript] 영화 스트리밍 사이트</p>
        <p>[Spring] 게임 거래 사이트</p>   
    
      </span>
      <div class="profile_img" id="img1"><img  src="../Assest/img/injae.jpg"></div>

      <span class="2" id="span2">
          <p  id="date">2013.03 ~ 2017.02</p> <p  id="edu_text">여주대학교 인터넷 정보처리과 졸업</p>
        </span>
        <div class="profile_img" id="img2"><img  src="../Assest/img/yeoju.jpg"></div>
 
       <span class="3" id="span3">
          <p  id="date">2011.05</p>
          <p  id="edu_text">경기 검정고시 고등학교 졸업</p>
        </span>
        <div class="profile_img" id="img3"><img  src="../Assest/img/gosi.jpg"></div>

        <span class="4" id="span4">
            <p id="date">2006.03 ~ 2009.02</p>
            <p id="edu_text">덕소 중학교 졸업</p>
          </span>
          <div class="profile_img" id="img4"><div id="history_div"><span id="history"><p>My</p>History</span></div></div>
  


</div>



</div>
