<html>
<head>
  <link rel="icon" href="data:,">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link href="../Assest/css/visit.css" rel="stylesheet" type="text/css">
  <link href="../Assest/css/index.css" rel="stylesheet" type="text/css">
  <script  src="../js/visit.js"></script>
  </head>
<body class="visit_body">

  
  <div class="visit">


    <div class="visit_content">
      <div class="visit_text">
      </div>

      <div class="visit_form_div">

        <form class="visit_form">
        <textarea name="text" id="textarea" cols="50" rows="1" maxlength="200"></textarea>
        </form>
        <span class="visit_span"><button id="visit_btn">전송</button></span>
      </div>

    </div>

  </div>

  </body>
</html>
